:root {
  font-family: "Open Sans Variable", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-title: rgb(71, 187, 255);
  --color-section: rgb(71, 187, 255);
  --color-subtitle: #f1f1f1;
  --color-text: #f1f1f1;
  --color-detail: #9e9e9e;
  --color-link: #7e86b3;

  --color-bg: #21252b;
  --color-bg-subtle: #303030;

  --padding: 32px;
  --row-gap: 20px;
  --column-gap: 32px;

  color: var(--color-text);
  background: var(--color-bg);
}

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-link);
}

h1 {
  font-size: 48px;
  color: var(--color-title);
}
h2 {
  font-size: 22px;
  color: var(--color-section);
  margin-bottom: 16px;
}
h3 {
  font-size: 18px;
  color: var(--color-subtitle);
}
