.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 189, 102);
  padding: 0.5rem;
  margin: 0.5rem;
  gap: 0.25rem;
  max-width: 830px;
}

.copy {
  background: transparent;
}
.code {
  display: block;
  word-break: break-all;
}
