---
import "@fontsource-variable/inter";

type Props = {
  title: string;
  description: string;
  class?: string;
};

const { title, description, class: className } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main class:list={[className]}>
      <slot />
    </main>

    <style is:global lang="less">
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
      }

      ul,
      li {
        list-style-type: none;
      }

      button {
        cursor: pointer;
      }

      a {
        text-decoration: none;
      }

      img {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        font-style: italic;
      }
    </style>

    <style lang="less">
      :root {
        --white: hsl(0, 0%, 92%);
        --black: hsl(0, 0%, 8%);
        --dim: hsl(0, 0%, 50%);
        --link: #2d3157;
        --background: #141414;

        --bento-min-size: 220px;
        --bento-border: #2c2c2c;
        --bento-bg: #151515;
        --bento-gap: 0.5rem;

        --content-padding: 1rem;
        --max-width: 768px;

        --transition-speeds: 150ms;

        --font-size-xl: 50px;
        --font-size-lg: 36px;
        --font-size-md: 20px;
        --font-size-sm: 10px;

        --font-weight-bold: 750;
        --font-weight-normal: 600;
        --font-weight-light: 400;

        font-size: var(--font-size-md);
        color: var(--white);
        background: var(--background);
      }
      html {
        font-family: "Inter Variable", Ubuntu, sans-serif;
        font-weight: var(--font-weight-normal);
      }
      main {
        margin: 0 auto;
        max-width: var(--max-width);
        padding: var(--content-padding) var(--content-padding);
      }
    </style>
  </body>
</html>
