.button {
  background: none;
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: scroll;
  padding-top: var(--top);
  padding-right: var(--right);
}

.dialog[data-open="true"] {
  animation: show 150ms ease-in-out forwards;
}

.dialog[data-open="false"] {
  animation: hide 150ms ease-in-out backwards;
}

@keyframes show {
  from {
    opacity: 0;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0);
  }
  to {
    opacity: 1;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }
  to {
    opacity: 0;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0);
  }
}

.close {
  position: absolute;
  top: calc(1rem + var(--top));
  right: calc(1rem + var(--right));
  background: transparent;
}

.content {
  display: inline-block;
  margin: 1rem;
}

.content[data-frame="true"] {
  background: url("bg.png");
  border: 30px solid;
  border-radius: 30px;
  border-image: url("border.png") 30;
  border-image-repeat: round;
  scrollbar-color: #e67a00 #ffbc70;
}

.content[data-contain="true"] {
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
}
