---
const { class: className, ...props } = Astro.props;
---

<li class={className} {...props}>
  <slot />
</li>

<style lang="less">
  li {
    border-radius: 1rem;
    border: 2px solid;
    border-color: var(--bento-border);
    background: var(--bento-bg);
    overflow: hidden;

    transition: border-color var(--transition-speeds) ease-in-out;

    &:hover,
    &:focus-within {
      border-color: var(--white);
    }

    --fade-delay: 0ms;

    animation: fade-in ease 1s;
    animation-delay: var(--fade-delay);
    animation-fill-mode: forwards;
    opacity: 0;
  }

  @keyframes fade-in {
    0% {
      transform: translateY(10px);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
</style>
